USE [master]
GO
/****** Object:  Database [FWA]    Script Date: 09.03.2017 19:13:43 ******/
CREATE DATABASE [FWA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FWA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\FWA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FWA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\FWA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FWA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FWA]
GO
USE [FWA]
GO
/****** Object:  Table [dbo].[Gegenstand]    Script Date: 09.03.2017 19:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gegenstand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[InvNummer] [nvarchar](255) NULL,
	[Pruefkarte] [bit] NULL,
	[Art] [nvarchar](255) NULL,
	[Kommentar] [nvarchar](255) NULL,
	[Zeitraum_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pruefung]    Script Date: 09.03.2017 19:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pruefung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [datetime] NULL,
	[Kommentar] [nvarchar](255) NULL,
	[Mangel] [nvarchar](255) NULL,
	[Zustand] [nvarchar](255) NULL,
	[Gegenstand_id] [int] NULL,
	[Tester_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 09.03.2017 19:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[PwHash] [nvarchar](255) NULL,
	[PwSalt] [nvarchar](255) NULL,
	[Type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Zeitraum]    Script Date: 09.03.2017 19:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zeitraum](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Januar] [bit] NULL,
	[Februar] [bit] NULL,
	[Maerz] [bit] NULL,
	[April] [bit] NULL,
	[Mai] [bit] NULL,
	[Juni] [bit] NULL,
	[Juli] [bit] NULL,
	[August] [bit] NULL,
	[September] [bit] NULL,
	[Oktober] [bit] NULL,
	[November] [bit] NULL,
	[Dezember] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Gegenstand] ON 

INSERT [dbo].[Gegenstand] ([Id], [Name], [InvNummer], [Pruefkarte], [Art], [Kommentar], [Zeitraum_id]) VALUES (1, N'MTF', N'', 0, N'TÜV / Stadt', N'', NULL)
INSERT [dbo].[Gegenstand] ([Id], [Name], [InvNummer], [Pruefkarte], [Art], [Kommentar], [Zeitraum_id]) VALUES (2, N'MTF', N'', 0, N'Ölstand', N'', 3)
INSERT [dbo].[Gegenstand] ([Id], [Name], [InvNummer], [Pruefkarte], [Art], [Kommentar], [Zeitraum_id]) VALUES (3, N'MTF', N'', 0, N'Flüssigkeiten', N'', 3)
GO
SET IDENTITY_INSERT [dbo].[Gegenstand] OFF
SET IDENTITY_INSERT [dbo].[Pruefung] ON 

INSERT [dbo].[Pruefung] ([Id], [Datum], [Kommentar], [Mangel], [Zustand], [Gegenstand_id], [Tester_id]) VALUES (1, CAST(N'2017-03-08T00:00:00.000' AS DateTime), N'Duct Tape regelt', N'Ende ausgeleihert', N'MangelGefunden', 72, 1)
SET IDENTITY_INSERT [dbo].[Pruefung] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Email], [PwHash], [PwSalt], [Type]) VALUES (1, N'hs', N'hermann.schmidt24@freenet.de', N'$2a$06$PsAJEE0sHthY1qcEvS179.c5IOnN78flJFP9qK1LmbuIonR1RW/6O', N'$2a$06$PsAJEE0sHthY1qcEvS179.', 2)
INSERT [dbo].[User] ([Id], [Name], [Email], [PwHash], [PwSalt], [Type]) VALUES (2, N'msc', N'msc@connext.de', N'$2a$06$6Ittl/28wAzGuVvkmHqfzezBKVhCnOD1t.b84qIXiUeP.GhZebEv2', N'$2a$06$6Ittl/28wAzGuVvkmHqfze', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Zeitraum] ON 

INSERT [dbo].[Zeitraum] ([Id], [Januar], [Februar], [Maerz], [April], [Mai], [Juni], [Juli], [August], [September], [Oktober], [November], [Dezember]) VALUES (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Zeitraum] ([Id], [Januar], [Februar], [Maerz], [April], [Mai], [Juni], [Juli], [August], [September], [Oktober], [November], [Dezember]) VALUES (2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[Zeitraum] ([Id], [Januar], [Februar], [Maerz], [April], [Mai], [Juni], [Juli], [August], [September], [Oktober], [November], [Dezember]) VALUES (3, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Zeitraum] OFF
ALTER TABLE [dbo].[Gegenstand]  WITH CHECK ADD  CONSTRAINT [FK69A84C354D0F1FDB] FOREIGN KEY([Zeitraum_id])
REFERENCES [dbo].[Zeitraum] ([Id])
GO
ALTER TABLE [dbo].[Gegenstand] CHECK CONSTRAINT [FK69A84C354D0F1FDB]
GO
ALTER TABLE [dbo].[Gegenstand]  WITH CHECK ADD  CONSTRAINT [FK69A84C354FF41D70] FOREIGN KEY([Zeitraum_id])
REFERENCES [dbo].[Zeitraum] ([Id])
GO
ALTER TABLE [dbo].[Gegenstand] CHECK CONSTRAINT [FK69A84C354FF41D70]
GO
ALTER TABLE [dbo].[Pruefung]  WITH CHECK ADD  CONSTRAINT [FK60F32EE93FF21D6C] FOREIGN KEY([Gegenstand_id])
REFERENCES [dbo].[Gegenstand] ([Id])
GO
ALTER TABLE [dbo].[Pruefung] CHECK CONSTRAINT [FK60F32EE93FF21D6C]
GO
ALTER TABLE [dbo].[Pruefung]  WITH CHECK ADD  CONSTRAINT [FK60F32EE9476E40FA] FOREIGN KEY([Tester_id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Pruefung] CHECK CONSTRAINT [FK60F32EE9476E40FA]
GO
ALTER TABLE [dbo].[Pruefung]  WITH CHECK ADD  CONSTRAINT [FK60F32EE96D95A47B] FOREIGN KEY([Tester_id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Pruefung] CHECK CONSTRAINT [FK60F32EE96D95A47B]
GO
ALTER TABLE [dbo].[Pruefung]  WITH CHECK ADD  CONSTRAINT [FK60F32EE98ADAE9FE] FOREIGN KEY([Gegenstand_id])
REFERENCES [dbo].[Gegenstand] ([Id])
GO
ALTER TABLE [dbo].[Pruefung] CHECK CONSTRAINT [FK60F32EE98ADAE9FE]
GO
USE [master]
GO
