USE [master]
GO
/****** Object:  Database [FWA]    Script Date: 13.02.2017 17:54:36 ******/
CREATE DATABASE [FWA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FWA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FWA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FWA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FWA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FWA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FWA]
GO
USE [FWA]
GO
/****** Object:  Table [dbo].[Checks]    Script Date: 13.02.2017 17:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Device] [int] NULL,
	[DatumUeberprueft] [date] NULL,
	[Monat] [tinyint] NULL,
	[Jahr] [smallint] NULL,
	[Tester] [int] NULL,
	[Status] [tinyint] NULL,
	[Mangel] [nvarchar](255) NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Device]    Script Date: 13.02.2017 17:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[InvNummer] [nvarchar](50) NULL,
	[Pruefkarte] [bit] NULL,
	[JaehrlichePruefungen] [tinyint] NULL,
	[Art] [nvarchar](50) NULL,
	[Kommentar] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.02.2017 17:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PwHash] [nvarchar](50) NULL,
	[PwSalt] [nvarchar](50) NULL,
	[Type] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Checks]  WITH CHECK ADD  CONSTRAINT [fk_device_id] FOREIGN KEY([Device])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[Checks] CHECK CONSTRAINT [fk_device_id]
GO
ALTER TABLE [dbo].[Checks]  WITH CHECK ADD  CONSTRAINT [fk_tester_id] FOREIGN KEY([Tester])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Checks] CHECK CONSTRAINT [fk_tester_id]
GO
USE [master]
GO
