<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FWA.Logic.Properties.Settings.FWAdministraionConnectionString"
            connectionString="Data Source=fwverne.database.windows.net;Initial Catalog=FWAdministraion;Persist Security Info=True;User ID=markusschmidt;Password=Krom5bacher"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>